@define-color text #C2C3CC;
@define-color background rgba(28,29,38,0.25);
@define-color background-alt #1C1D26;
@define-color cursor #CB9393;
@define-color hovered #528B81;
@define-color button-background #649B9E;
@define-color button-active #683E45;
@define-color border #50546E;
@define-color urgent #9FA1AE;
