@define-color foreground #C2C3CC;
@define-color background #1C1D26;
@define-color background #1C1D26;
@define-color cursor #CB9393;

@define-color color0 #39322F;
@define-color color1 #3C3F52;
@define-color color2 #683E45;
@define-color color3 #524F3C;
@define-color color4 #3E6861;
@define-color color5 #9F4A43;
@define-color color6 #649B9E;
@define-color color7 #9FA1AE;
@define-color color8 #6F717A;
@define-color color9 #50546E;
@define-color color10 #8B525C;
@define-color color11 #6E6A50;
@define-color color12 #528B81;
@define-color color13 #D46359;
@define-color color14 #85CFD3;
@define-color color15 #9FA1AE;