* {
active-background: #D08D8D;
active-foreground: #BBB9D1;
normal-background: #16142B;
normal-foreground: #BBB9D1;
urgent-background: #C0AED2;
urgent-foreground: #BBB9D1;

alternate-active-background: #8378CD;
alternate-active-foreground: #BBB9D1;
alternate-normal-background: #16142B;
alternate-normal-foreground: #BBB9D1;
alternate-urgent-background: #16142B;
alternate-urgent-foreground: #BBB9D1;

selected-active-background: #C0AED2;
selected-active-foreground: #BBB9D1;
selected-normal-background: #C0AED2;
selected-normal-foreground: #BBB9D1;
selected-urgent-background: #D08D8D;
selected-urgent-foreground: #BBB9D1;

background-color: #16142B;
background: rgba(0,0,0,0.7);
foreground: #BBB9D1;
border-color: #D08D8D;

color0: #46483A;
color1: #2F2A5D;
color2: #585D2A;
color3: #625A9A;
color4: #9C6A6A;
color5: #90839E;
color6: #929A5A;
color7: #9693B5;
color8: #69677F;
color9: #3E387C;
color10: #767C38;
color11: #8378CD;
color12: #D08D8D;
color13: #C0AED2;
color14: #C2CD78;
color15: #9693B5;

}
