@define-color foreground #B3B3B4;
@define-color background #111111;
@define-color cursor rgba(203,203,203, .53);

@define-color color0 #262626;
@define-color color1 #1D1D1E;
@define-color color2 #1D1D1E;
@define-color color3 #252424;
@define-color color4 #252424;
@define-color color5 #767676;
@define-color color6 #767676;
@define-color color7 #8A8A8B;
@define-color color8 #616161;
@define-color color9 #262728;
@define-color color10 #2F3031;
@define-color color11 #31302F;
@define-color color12 #31302F;
@define-color color13 #9E9E9E;
@define-color color14 #9E9E9E;
@define-color color15 #8A8A8B;

@define-color blend #202022;
@define-color blend2 #26262B;
