@define-color foreground #B4B4B4;
@define-color background #0E0E0E;
@define-color cursor rgba(195,195,195, .53);

@define-color color0 #222418;
@define-color color1 #1E1E1E;
@define-color color2 #181818;
@define-color color3 #1E1E1E;
@define-color color4 #494949;
@define-color color5 #626262;
@define-color color6 #6E7940;
@define-color color7 #8B8B8B;
@define-color color8 #616161;
@define-color color9 #282828;
@define-color color10 #282828;
@define-color color11 #282828;
@define-color color12 #616161;
@define-color color13 #828282;
@define-color color14 #93A155;
@define-color color15 #8B8B8B;

@define-color blend #1E1E1E;
@define-color blend2 #232020;
